.header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 65px;
        position: fixed;
        top:0;
        left: 0;
        right:0;
        background-color: white;
        align-items: center;
        z-index: 100;

        border-color: rgb(225, 218, 218);
        border-bottom-width: 1px;
        border-style: solid;
        box-shadow: inset;
      }
      .left{
        width: 150px;
        display: flex;
        flex-direction: row;
        margin-right:10px
      }
      .right{
        width: 240px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-shrink: 0px;
      }
      
      .middle{
        flex:1;
        margin-top: 0px;
        margin-left: 70px;
        margin-right:160px;
        max-width: 500px;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
      }