.sidebar-img img{
    height: 38px;
    margin-bottom: 4px;
}

.sidebar-img{
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
}
.sidebar{
    position: fixed; 
    left: 0;
    bottom: 0;
    top:55px;
    width:100px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}
.sidebar-img:hover{
    background-color: grey;
}

.sidebar-img div{
    font-family: arial;
    font-size: 14px;
}
      